<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">  

  <script src="lib/vue.js"></script>
  <script type="text/javascript" charset="utf-8" src="radarData.js"></script>
</head>

<body>
  <h1 id="title" style="text-align: center;">{{ title }}</h1>

  <div id="data-selector">
    <select v-model="selected" v-on:change="select">
        <option v-for="o in options" v-bind:value="o.value">{{ o.text }}</option>
    </select>
  </div>
  
  <div id="radar">

    <div style="float: left;width:400px;">
        <ol>
          <li v-for="e in quadrants">
            {{ e.name }}
            <ol>
              <li v-for="k in e.items" v-bind:style="{ color: k.fill }"> {{ k.name }} </li>
            </ol>
          </li>
        </ol>
    </div>

    <div style="float: left; width:600px;">
      <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <circle v-for="c in circles" v-bind:cx="c.cx+1" v-bind:cy='c.cy' v-bind:r='c.r' v-bind:fill="c.fill" stroke='black' stroke-width='1'/>
        <line v-bind:x1="radius+1" y1="0" v-bind:x2="radius+1" v-bind:y2="2*radius" stroke='black' stroke-width='1'/>
        <line x1="1" v-bind:y1="radius" v-bind:x2="2*radius+1" v-bind:y2="radius" stroke='black' stroke-width='1'/>
  
        <circle v-for="c in items" 
                v-bind:cx="c.cx" v-bind:cy='c.cy' r='5' v-bind:fill="c.fill" 
                v-on:click="onClick(c)" v-on:mouseover="onMouseOver(c)" v-on:mouseout="onMouseOut(c)"/>
      </svg>
    </div>

  </div>

  <script type="text/javascript" src="app.js" charset="utf-8"></script>
</body>

</html>
